<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Ega</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example">
    <style>
        .toggle-ios {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.toggle-ios-input {
  display: none;
}

.toggle-ios-control {
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.toggle-ios-input:checked + .toggle-ios-control {
  background-color: #4cd964;
}

.toggle-ios-control:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  transition: transform 0.3s ease;
}

.toggle-ios-input:checked + .toggle-ios-control:before {
  transform: translateX(16px);
}

    </style>

    <!-- Example Code -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" ><img src="/image/EGA.jpg" alt="Logo de votre site" width="30" height="30" class="d-inline-block align-top"></a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Client</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compte">Comptes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/operation">Operations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/virement">Virement</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- End Example Code -->
    <h3>Enregistrer un Client</h3>
    <form>
          <label for="inputEmail3" class="col-sm-2 col-form-label">Nom</label>
          <div class="col-sm-4">
            <input type="name" class="form-control" id="nom">
          </div>

          <label for="inputPassword3" class="col-sm-2 col-form-label">Prenoms</label>
          <div class="col-sm-4">
            <input type="name" class="form-control" id="prenom">
          </div>


            <label for="inputPassword3" class="col-sm-2 col-form-label">Date de naissance</label>
            <div class="col-sm-4">
              <input type="date" class="form-control" id="dateNaissance">
            </div>

        <label for="inputPassword3" class="col-sm-2 col-form-label">Sexe</label>
        <div class="col-sm-4">
            <select class="form-control" aria-label="Default select example" id="sexe">
                    <option selected>Sexe</option>
                    <option value="M">Masculain</option>
                    <option value="F">Féminin</option>
            </select>
        </div>
        </div>

            <label for="inputPassword3" class="col-sm-2 col-form-label">Adresse</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="adresse">
            </div>

            <label for="inputPassword3" class="col-sm-2 col-form-label">Courriel</label>
            <div class="col-sm-4">
              <input type="email" class="form-control" id="courriel">
            </div>

            <label for="inputPassword3" class="col-sm-2 col-form-label">Nationalité</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="nationalite">
            </div>

            <label for="inputPassword3" class="col-sm-2 col-form-label">telephone</label>
            <div class="col-sm-4">
              <input type="tel" class="form-control" id="telephone">
            </div>
        <button type="submit" id="submitform" class="btn btn-primary" onclick="fetchData2()">Enregister client</button>
      </form>
      <br>
      <br>
      <table  class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">DateNaiss</th>
            <th scope="col">Sexe</th>
            <th scope="col">Adresse</th>
            <th scope="col">Courriel</th>
            <th scope="col">Telephone</th>
            <th scope="col">Nationalité</th>
            <th scope="col">Compte(s)</th>
            <th scope="col">Masqué</th>
            <th scope="col">Supprimer</th>
            <th scope="col">Modifier</th>
          </tr>
        </thead>
        <tbody class="table-group-divider" id="client">
        </tbody>
      </table>
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast1" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              Enregistrement effectuer avec succes
            </div>
          </div>
        </div>
      </div>
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              Modification effectuer avec succes
            </div>
          </div>
        </div>
      </div>
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast3" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              Suppression effectuer avec succes
            </div>
          </div>
        </div>
      </div>

      <div class="toast-container position-fixed bottom-0 end-0 p-3" style="background-color: transparent;">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              erreur l'ors de l'Enregistrement
            </div>
          </div>
        </div>
      </div>
      
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
      <div id="pp" style="display: none;">
        <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
          <div>
            An example alert with an icon
          </div>
        </div>
        <div class="alert alert-warning d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            An example warning alert with an icon
          </div>
        </div>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            An example danger alert with an icon
          </div>
        </div>
      </div>
      <div id="erp">

      </div>

  </body>
  <script>
    fetchData();
        function fetchData() {
            fetch("http://localhost:8080/client/lister")
              .then(response => {
                if (response.ok) {
                  return response.json();
                }
                else if (response.status === 403 || response.status === 401) {
              } throw new Error("Could not fetch data");
              })
              .then(data => {
                const commandesData = document.getElementById("client");
                const com = document.getElementById("erp");
                data.forEach(client => {
                  console.log(client)
                  const date = new Date(client.dateNaissance);
                  const options = {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                    hour: "numeric",
                    minute: "numeric",
                    second: "numeric"
                  };
                  const readableDate = date.toLocaleDateString("fr-FR", options);
                  const row = `
                    <tr>
                      <td>#${client.id}</td>
                      <td>${client.nom}</td>
                      <td>${client.prenom}</td>
                      <td>${readableDate}</td>
                      <td>${client.sexe}</td>
                      <td>${client.adresse}</td>
                      <td>${client.courriel}</td>
                      <td>${client.telephone}</td>
                      <td>${client.nationalite}</td>
                      <td><button class="btn btn-outline-primary" data-bs-target="#exampleModalToggle-${client.id}" data-bs-toggle="modal">compte(s)</button></td>
                      <td><button class="btn btn-outline-warning" data-bs-target="#modifierModalToggle-${client.id}" data-bs-toggle="modal">Mofifier</button></td>
                      <td><button class="btn btn-outline-danger" onclick="Supprimer(${client.id})">Supprimer</button></td>
                      <td>${client.is_deleted}</td>
                    </tr>
                  `;
                  commandesData.innerHTML += row;
                  const comt =`
                    <div class="modal fade" id="exampleModalToggle-${client.id}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                   <div class="modal-content">
                   <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Compte(s)</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Numero</th>
                            <th scope="col">Type</th>
                            <th scope="col">Solde</th>
                          </tr>
                        </thead>
                        <tbody id="${client.id}">
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>`;
              const modif =`
                    <div class="modal fade" id="modifierModalToggle-${client.id}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                   <div class="modal-content">
                   <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modifier #${client.id}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Nom</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="nom${client.id}" value="${client.nom}">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Prenoms</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="prenom${client.id}" value="${client.prenom}">
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Date de naissance</label>
            <div class="col-sm-4">
              <input type="date" class="form-control" id="dateNaissance${client.id}" value="${client.dateNaissance}">
            </div>
        </div>
        <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Sexe</label>
        <div class="col-sm-4">
            <select class="form-control" aria-label="Default select example" id="sexe${client.id}">
                    <option selected value="${client.sexe}">${client.sexe}</option>
                    <option value="M">Masculain</option>
                    <option value="F">Féminin</option>
            </select>
        </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Adresse</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="adresse${client.id}" value="${client.adresse}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Courriel</label>
            <div class="col-sm-4">
              <input type="email" class="form-control" id="courriel${client.id}" value="${client.courriel}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Nationalité</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="nationalite${client.id}" value="${client.nationalite}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">telephone</label>
            <div class="col-sm-4">
              <input type="tel" class="form-control" id="telephone${client.id}" value="${client.telephone}">
            </div>
        </div>
        <button type="submit" id="submitmodifier" class="btn btn-primary" onclick="fetchDatan(${client.id})">Enregister client</button>
      </form>
                    </div>
                  </div>
                </div>
              </div>`;
              com.innerHTML+=modif;
                  com.innerHTML +=comt;
                  client.comptes.forEach(instance =>{
                    const bouclee=document.getElementById(client.id);
                    const row =`
                    <td>#${instance.id}</td>
                              <td>${instance.numeroCompte}</td>
                              <td>${instance.typeCompte}</td>
                              <td>${instance.solde}</td>`;
                    bouclee.innerHTML +=row;
                  })
                  })                    
                })               
              .catch(error => {
                console.error(error);
              })
            }
           function fetchData2(){
              const url = "http://localhost:8080/client/ajouter"; 
              const nom = document.getElementById('nom').value;
              const prenom = document.getElementById('prenom').value;
              const sexe = document.getElementById('sexe').value;
              const dateNaissance = document.getElementById('dateNaissance').value;
              const telephone = document.getElementById('telephone').value;
              const adresse = document.getElementById('adresse').value;
              const nationalite = document.getElementById('nationalite').value;
              const courriel = document.getElementById('courriel').value;
              const data = { 
              "nom": nom,
              'dateNaissance': dateNaissance,
              'telephone':telephone,
              'nationalite':nationalite,
              'adresse':adresse,
              'courriel':courriel,
              'sexe':sexe,
              'prenom': prenom
               };

                fetch(url, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json"
                  },
                  body: JSON.stringify(data)
                })
                .then(response => {
                  if(response.ok){
                  const toastLiveExample = document.getElementById('liveToast1')
                  const toastBootstrap = new bootstrap.Toast(toastLiveExample)
                  toastBootstrap.show()
                  }
                  else{
                    const toastLiveExample = document.getElementById('liveToast')
                  const toastBootstrap = new bootstrap.Toast(toastLiveExample)
                  toastBootstrap.show()
                  }
                })
                .then(data => {
                  console.log(data); 
                  location.reload();
                  // Affiche la réponse de l'API
                });
            }
            function fetchDatan(a){
              const url = `http://localhost:8080/client/update/${a}`; 
              const nom = document.getElementById(`nom${a}`).value;
              const prenom = document.getElementById(`prenom${a}`).value;
              const sexe = document.getElementById(`sexe${a}`).value;
              const dateNaissance = document.getElementById(`dateNaissance${a}`).value;
              const telephone = document.getElementById(`telephone${a}`).value;
              const adresse = document.getElementById(`adresse${a}`).value;
              const nationalite = document.getElementById(`nationalite${a}`).value;
              const courriel = document.getElementById(`courriel${a}`).value;
              const data = { 
              "nom": nom,
              'dateNaissance': dateNaissance,
              'telephone':telephone,
              'nationalite':nationalite,
              'adresse':adresse,
              'courriel':courriel,
              'sexe':sexe,
              'prenom': prenom
               };

                fetch(url, {
                  method: "PUT",
                  headers: {
                    "Content-Type": "application/json"
                  },
                  body: JSON.stringify(data)
                })
                .then(response => {
                  if(response.ok){
                  const toastLiveExample = document.getElementById('liveToast2')
                  const toastBootstrap = new bootstrap.Toast(toastLiveExample)
                  toastBootstrap.show()
                  }
                  else{
                    const toastLiveExample = document.getElementById('liveToast')
                  const toastBootstrap = new bootstrap.Toast(toastLiveExample)
                  toastBootstrap.show()
                  }
                })
                .then(data => {
                  console.log(data);
                  location.reload(); // Affiche la réponse de l'API
                })
                ;
            }
            function Supprimer(a){
              const url = `http://localhost:8080/client/supprimer/${a}`; 
                fetch(url, {
                  method: "DELETE",
                  headers: {
                    "Content-Type": "application/json"
                  },
                })
                .then(response => {
                  if(response.ok){
                  const toastLiveExample = document.getElementById('liveToast3')
                  const toastBootstrap = new bootstrap.Toast(toastLiveExample)
                  toastBootstrap.show()
                  }
                  else{
                    const toastLiveExample = document.getElementById('liveToast')
                  const toastBootstrap = new bootstrap.Toast(toastLiveExample)
                  toastBootstrap.show()
                  }
                })
                .then(data => {
                  console.log(data); 
                  location.reload();// Affiche la réponse de l'API
                })
                ;
            }
            
  </script>
</html>